<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
<div>
	<h2 >KPI Ninja User</h2>
	
		<div align = "left" >		   
		     <h3><a  th:href="@{'/newUser'}">Add New User</a></h3>     
	    </div>
	
	
	
	
	<div class="col-sm-5" align = "center">
                 <div class="panel-body" align = "center" >
                 <table class="table">
  <thead class="thead-dark">
    <tr>	
    		
            <th>User Name</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Address</th>
            <th>Edit</th>
            <th>Delete</th>
   	</tr>
  </thead>
  <tbody>
      <tr  th:each="user : ${getAllUsers }">
		<td th:text="${user.name}">User Name</td>
		<td th:text="${user.age}">Age</td>
		<td th:text="${user.gender}">Gender</td>
		<td th:text="${user.address}">Address</td>				
		<td>
			<a th:href="@{'/edit/' + ${user.name}}">Edit</a>
		</td>							    
		<td>
			<a th:href="@{'/delete/' + ${user.name}}">Delete</a>
		</td>		    
		</tr> 
   
  </tbody></table></div></div>
</div>
</body>
</html>